<table class="table table-hover">
    <tr *ngFor="let ed of service.list">        
        <td (click)="populateForm(ed)">{{ed.Name}}</td>
        <td (click)="populateForm(ed)">{{ed.LastName}}</td>
        <td (click)="populateForm(ed)">{{ed.Age}}</td>
        <td (click)="populateForm(ed)">{{ed.Sex}}</td>
        <td (click)="populateForm(ed)">{{ed.BirthDate}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ed.ID)"></i>
        </td>
    </tr>
</table>